body {
    background-color:#CC3333;
}
.navbar {
  padding: 10px 0;
 
  background:#CC3333;
  
  
}

#Image4 {
    border-style: solid;
    border-color: #66FFFF;
}
#Image1 {
    border-style: solid;
    border-color: #66FFFF;
}
 .nav-link {
  transition: 0.4s;
  color: #ffffff;
 
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
 .nav-link:hover {
        background-color: #FFCCCC;
        color: #FFF;
        padding: 5px 5px;
}